* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body.bad {
    background-color: #c0392b;
}
body.normal {
    background-color: #f1c40f;
}
body.good {
    background-color: #2ecc71;
}

h1, h3 {
    text-align: center;
    color: white;
    cursor: default
}
.time {
    margin: 40px 0;
}

.state {
    background-color: #34495e;
    border-radius: 12px;
}
.state>h3 {
    padding: 6px 12px;
    border-bottom: 1px solid white;
}
.state>div {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    cursor: default;
}
.state .good {
    margin-bottom: 0;
}
.state>div div {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.state>div span {
    font-weight: bold;
}
.state .bad div {
    background-color: #c0392b;
}
.state .bad span {
    color: #c0392b;
}
.state .normal div {
    background-color: #f1c40f;
}
.state .normal span {
    color: #f1c40f;
}
.state .good div {
    background-color: #2ecc71;
}
.state .good span {
    color: #2ecc71;
}

.language {
    position: fixed;
    top: 20px;
    right: 20px;
}
.language>h3 {
    padding: 8px 32px;
    background-color: #34495e;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
}
.language .options {
    display: none;
    background-color: #34495e;
    border-top: 1px solid white;
}
.language .options span {
    display: block;
    padding: 8px 0;
    color: white;
    text-align: center;
    cursor: pointer;
}
.language .options span:last-child {
    margin-bottom: 0;
}
.language .options span:hover {
    background-color: #7f8c8d;
}

@media screen and (min-width: 1331px) {
    body {
        margin: 0 auto;
        width: 1331px;
    }
}
@media screen and (max-width: 1330px) {
    body {
        margin: 0;
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    body {
        width: 450px;
    }
}
